---

language: python
python: "3.6"
dist: xenial
sudo: true

before_install:
  - sudo apt-get update -qq

install:
  - pip install ansible

# TODO can uncomment below if using different test server than travis and actually want to
# TODO test full build could use bottom two tests
script:
  - ansible-playbook -i provisioning/tests/inventory configure.yml --syntax-check
#  - ansible-playbook -i provisioning/tests/inventory configure.yml --connection=local --become
#  - >
#  ansible-playbook -i provisioning/tests/inventory configure.yml --connection=local --become
#  | grep -q 'changed=0.*failed=0'
#  && (echo 'Idempotence test: pass' && exit 0)
#  || (echo 'Idempotence test: fail' && exit 1)
