-- TODO Replace all of this with a template
-- TODO Also right now this just appends each time run
-- TODO autgen this based on csv files in directory
COPY CARE_SITE FROM '{{ download_dir }}/{{dataset}}/care_site.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY CDM_SOURCE FROM '{{ download_dir }}/{{dataset}}/cdm_source.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY CONCEPT FROM '{{ download_dir }}/{{dataset}}/concept.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY CONCEPT_ANCESTOR FROM '{{ download_dir }}/{{dataset}}/concept_ancestor.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY CONCEPT_CLASS FROM '{{ download_dir }}/{{dataset}}/concept_class.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY CONCEPT_RELATIONSHIP FROM '{{ download_dir }}/{{dataset}}/concept_relationship.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY CONCEPT_SYNONYM FROM '{{ download_dir }}/{{dataset}}/concept_synonym.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY CONDITION_ERA FROM '{{ download_dir }}/{{dataset}}/condition_era.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY CONDITION_OCCURRENCE FROM '{{ download_dir }}/{{dataset}}/condition_occurrence.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY COST FROM '{{ download_dir }}/{{dataset}}/cost.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY DEATH FROM '{{ download_dir }}/{{dataset}}/death.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY DEVICE_EXPOSURE FROM '{{ download_dir }}/{{dataset}}/device_exposure.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY DOMAIN FROM '{{ download_dir }}/{{dataset}}/domain.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY DRUG_ERA FROM '{{ download_dir }}/{{dataset}}/drug_era.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY DRUG_EXPOSURE FROM '{{ download_dir }}/{{dataset}}/drug_exposure.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY DRUG_STRENGTH FROM '{{ download_dir }}/{{dataset}}/drug_strength.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY LOCATION FROM '{{ download_dir }}/{{dataset}}/location.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY MEASUREMENT FROM '{{ download_dir }}/{{dataset}}/measurement.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY OBSERVATION FROM '{{ download_dir }}/{{dataset}}/observation.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY OBSERVATION_PERIOD FROM '{{ download_dir }}/{{dataset}}/observation_period.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY PAYER_PLAN_PERIOD FROM '{{ download_dir }}/{{dataset}}/payer_plan_period.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY PERSON FROM '{{ download_dir }}/{{dataset}}/person.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY PROCEDURE_OCCURRENCE FROM '{{ download_dir }}/{{dataset}}/procedure_occurrence.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY PROVIDER FROM '{{ download_dir }}/{{dataset}}/provider.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY RELATIONSHIP FROM '{{ download_dir }}/{{dataset}}/relationship.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY VISIT_OCCURRENCE FROM '{{ download_dir }}/{{dataset}}/visit_occurrence.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
COPY VOCABULARY FROM '{{ download_dir }}/{{dataset}}/vocabulary.csv' DELIMITER E'\t' CSV ENCODING 'UTF8';
