{% set db_host = hostvars[groups['db'][0]].inventory_hostname %}
WITH data(source_id,
       source_name,
       source_key,
       source_connection,
       source_dialect) AS (VALUES
    (1, 'My Cdm', 'MY_CDM', 'jdbc:postgresql://{{ db_host }}:{{ db_port }}/{{ db_name }}?user={{ db_app_user }}>&password={{ db_app_user_password }}', 'postgresql'),
    (2, 'Default vocabulary', 'vocab', 'jdbc:postgresql://{{ db_host }}:{{ db_port }}/{{ db_name }}?user={{ db_app_user }}>&password={{ db_app_user_password }}', 'postgresql'))
INSERT INTO webapi.source (source_id, source_name, source_key, source_connection, source_dialect)
SELECT source_id, source_name, source_key, source_connection, source_dialect
FROM data d
WHERE NOT exists(SELECT 1 FROM webapi.source s WHERE s.source_id = d.source_id);

WITH data(source_daimon_id,
       source_id,
       daimon_type,
       table_qualifier,
       priority) AS (VALUES (1, 1, 0, 'cdm', 0), (2, 1, 1, 'cdm', 0), (3, 1, 2, 'ohdsi', 0), (4, 2, 1, 'cdm', 1))
INSERT INTO webapi.source_daimon (source_daimon_id, source_id, daimon_type, table_qualifier, priority)
SELECT source_daimon_id, source_id, daimon_type, table_qualifier, priority
FROM data d
WHERE NOT exists(SELECT 1 FROM webapi.source_daimon s WHERE s.source_daimon_id = d.source_daimon_id);
