define([], function () {
    var configLocal = {};

    configLocal.api = {
        name: 'OHDSI',
        url: 'http://{{ inventory_hostname }}:{{ www_port }}/{{ web_api_app_name }}/'
    };

    return configLocal;
});